<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Employee Management System</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>NewEmp</display-name>
    <servlet-name>NewEmp</servlet-name>
    <servlet-class>com.Emp.NewEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewEmp</servlet-name>
    <url-pattern>/NewEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpDetail</display-name>
    <servlet-name>EmpDetail</servlet-name>
    <servlet-class>com.Emp.EmpDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpDetail</servlet-name>
    <url-pattern>/EmpDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactDetail</display-name>
    <servlet-name>ContactDetail</servlet-name>
    <servlet-class>com.Emp.ContactDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactDetail</servlet-name>
    <url-pattern>/ContactDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Contact</display-name>
    <servlet-name>Contact</servlet-name>
    <servlet-class>com.Emp.Contact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Contact</servlet-name>
    <url-pattern>/Contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactUs</display-name>
    <servlet-name>ContactUs</servlet-name>
    <servlet-class>com.Emp.ContactUs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactUs</servlet-name>
    <url-pattern>/ContactUs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactUsForm</display-name>
    <servlet-name>ContactUsForm</servlet-name>
    <servlet-class>com.Emp.ContactUsForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactUsForm</servlet-name>
    <url-pattern>/ContactUsForm</url-pattern>
  </servlet-mapping>
</web-app>